html,body{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: Helvetica,Arial, sans-serif;
    background-color: #007FC0;
}
.container{
    width: 990px;
    margin: 0px auto;
    background-color: white;
    padding: 5px;
}

.bordered{
    border:1px solid rgb(253, 250, 250);
}

header,footer{
     background-color: #7ECBF3;
      border:2px solid black; 
      padding: 2px;
      margin: 1px 0px;
      font-family:"Time new roman", Helvetica, Arial, sans-serif;
     }

 footer{
     padding: 10px;
     border: 1px solid black;
 }    

header nav{
    float: right;
}

header nav li{
    display: inline;
    font-size: 12px;
    padding: 10px;
}

a{
    color: #007fC0;
}

.image-resize{
    width: 20%;
    height: 100px;
    position: static;
}	 

.boxed{
     box-shadow: 0 4px 4px 0 rgba(0,0,0,0.24),0 0 4px 0 rgba(0,0,0,0.14);
}

#main{
    min-height: 560px;
    border: 1px solid #555;
    border-radius: 5px;
    color: #202020;    
    margin: 10px 0px;
    padding: 5px;
}

#results{
    padding: 2px;
    width: 300px;
    display: inline-block;
    vertical-align: top;
}

.result{
    margin: 5px;
    border: 1px solid #999;
}
.result .title{
    font-weight: bold;
}

.login-form{
    display: inline-block;
    width: 400px;
    padding: 2px;
}

.login-form label{
    font-weight: bold;
    width: 120px;
    display: inline-block;
    padding-bottom: 10px;
}

.login-form input[type=text],
 .login-form input[type=password]{
    width: 150px;
}

.login-form input[type=submit], 
.login-form input[type=reset],
button{
    background-color: #007FC0;
    color:#fff;
    border-radius: 10px;
    padding: 3px;
    margin-top: 5px;
    width: 75px
}
.login-form input[type=reset]{
    background-color: gray;
}

#errorMsg{
    color: #f00;
    font-size: 12px;
}

#logoutSection{
    display: none;
}

#foo{
    font-weight: bold;
}
